footer#footer
  
  - var supporters = {'thetreehouse':'The Treehouse', 'isqre':'Identity Square', 'wesavvy':'WeSavvy', 'younginsurers':'Young Insurers', 'studentslingshot':'Student Slingshot', 'simplifly':'Simplifly', 'youngengineers':'Young Engineers'};

  section#sponsors
    .container
      .row
        .col-md-12.text-center
          h3 Our Amazing Sponsors &amp; Supporters
          ul.logos.text-center
            each name, logo in supporters
              li
                img(src="images/logos/" + logo + ".png" style="max-height:50px" alt=name)
          p More sponsors &amp; supporters to be announced soon!

   #footer-copy
    .container
      .row
        .col-md-12.text-center
          .row
            .col-md-2.col-md-offset-5(style='margin-bottom:10px;')
              a(href='#', title='Idea Starter')
                img(src='images/logo.png', alt='Idea Starter', width='100%')
              small
                | &copy; Idea Starter 2015.
                br
                | Designed by 
                a(href="http://identitysquare.ie/" title="Identity Square" target="_blank") Identity Square
                | .

              .createsend-button&attributes({'style': 'height:27px;display:inline-block;', 'data-listid': 'i/B6/624/E34/29A3A47F36690B95'})
              script.
                (function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();