footer#footer
  #footer-content
    .container
      .row
        .col-md-10.col-md-offset-1.text-center
          blockquote
            q Your work is going to fill a large part of your life, and the only way to be truely satisfied is to do what you believe is great work. And the only way to do great work is to love what you do.
            footer Steve Jobs, Apple

   #footer-copy
    .container
      .row
        .col-md-12.text-center
          .row
            .col-md-2.col-md-offset-5(style='margin-bottom:10px;')
              a(href='#', title='WeSavvy')
                img(src='/images/logo.png', alt='Idea Starter', width='100%')
              small
                | &copy; Idea Starter 2015.

              .createsend-button&attributes({'style': 'height:27px;display:inline-block;', 'data-listid': 'i/B6/624/E34/29A3A47F36690B95'})
              script.
                (function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();


// Start of Zopim Live Chat Script
script.
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//v2.zopim.com/?2pnVWXCTpGPiYu8mAK2PajZIdPshW403';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');