extends /layouts/_default

block head
  title About Idea Starter


block display_title
  h1 About Us
  h3 Who are we and what do we do?


block content
  
  h2 Who are we?
  p We are a community for bringing together students with ideas and skills. Makers, entrepreneurs, designers, engineers, creators, innovators, developers, artists, linguists, marketers, lawyers and the list goes on.
  p Get hands-on experience working on an idea to make it a reality. Get introducted to our trusted advisors, partners and industry experts to produce and bring your idea to market.

  hr

  h2 About Our Hackathon
  p Join us on our fun weekend event where we build a startup is just 24 hours. Form or join a team, validate your idea, market research and build a minimal viable product. Domo your prototypes and receive valuable feedback from a panel of experts. Winners announced and new friends made!
  p Stay tuned for updates on our planned event!

  .faq
    h4 What is a Startup?
    p By startup we mean high impact businesses that have the potential to grow rapidly. Basically take an idea and turn it into a reality.

    h4 Is it for me?
    p If you have an idea but don’t know how to launch it or you're studying a field but never truly experienced it, then this is the event for you.

    h4 I'm all alone!
    p Don’t worry, if you want to go but don’t know anyone come anyway. People who want to go have similar interests and we’ll happily sit with you and get to know you over a cup of tea. There is plenty of advise.

    h4 Experience is more important than qualifications.
    p Even if you have a degree you will learn a lot at our event. You’ll show others new skills and you will learn new ones. Guide a team, learn to pitch or just get that practical experience that your linkedin is missing.


block sidebar
  
  .widget
    iframe(width="360" height="203" src="https://www.youtube.com/embed/yDc4zjAdp5A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)

          

