extends /layouts/_default

block head
  title About Idea Starter


block display_title
  h1 About Us
  h3 What are we all about?


block content

  p We at Idea Starter help you bring your ideas to life. We make it possible for just ideas to become a reality.
  p We are a community for bringing together students with ideas and skills. Makers, entrepreneurs, designers, engineers, creators, innovators, developers, artists, linguists, marketers, lawyers and the list goes on.
  p Get hands-on experience working on an idea to make it a reality. Get introducted to our trusted advisors, partners and industry experts to produce and bring your idea to market.
  
  h3 Mentoring
  p Idea Starter's pool of mentors in the product, legal, marketing, financial, governmental, VCs executive fields as well as international entrepreneurs, successful startup founders and senior business professionals will direct you in the correct path to building your idea into a success.

  h3 Workshops &amp; Hackathons
  p Get hands-on learning experience in our workshops and hackathon events. Identify opportunities in your industry and get your idea in motion with your team. 
  p We are here to help you with a range of topics from prototyping, programming, strategic objectives, data analysis, market research, growth hacking, fundraising and many more.

  h3 Networking
  p Increase your network by meeting like-minded entrepreneurs and leaders in key areas. 
  p Find the right customers, partners, advisors and investors by tapping into unreachable contacts through our mentors who will help you build and scale your idea.



block sidebar
  
  .widget
    iframe(width="360" height="203" src="https://www.youtube.com/embed/yDc4zjAdp5A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)

          

