extends /layouts/_fullwidth

block head
  title Contact Us - Idea Starter


block display_title
  h1 Get in touch!
  h3 Send us a message or two.


block content

  .row

    .col-md-6
      h2 We'd love to hear from you!
      p We read all our messages and get back to them as soon as we can. Get in touch via email by using the "Leave us a message" button on the bottom right of the screen or message us via our social media.

      ul.social-links
        li
          a(href="#" title="Send us an email" target="_blank").btn.email.email-link
            i.fa.fa-envelope
            span Email us
        li
          a(href="https://www.facebook.com/IdeaStarter.ie" title="Like us on Facebook" target="_blank").btn.facebook
            i.fa.fa-facebook
            span Like us on Facebook
        li
          a(href="https://twitter.com/idea_starter" title="Follow us on Twitter" target="_blank").btn.twitter
            i.fa.fa-twitter
            span Follow us @idea_starter

    .col-md-6
      div#gmap_wrapper
        div#gmap_canvas



block scripts
  // Google Maps API scripts for map.
  script(src="//maps.google.com/maps/api/js?sensor=false")
  script.
    function init_map(){

      var myOptions = {
        zoom: 14,
        center: new google.maps.LatLng(53.383259803035095, -6.601891608520532),
        mapTypeId: google.maps.MapTypeId.TERRAIN
      };

      map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);

      marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(53.383259803035095, -6.601891608520532)
      });

      infowindow = new google.maps.InfoWindow({
        content: "<b>Idea Starter</b><br/>Maynooth University<br/>"
      });

      google.maps.event.addListener(marker, "click", function(){
        infowindow.open(map,marker);
      });

      infowindow.open(map,marker);

    }
    google.maps.event.addDomListener(window, 'load', init_map);