extends /layouts/_default

block head
  title About Idea Starter


block display_title
  h1 Frequently Asked Questions?
  h3 We're sure you have some questions and we have the answers.


block content

  .faq
    h4 What is a Startup?
    p By startup we mean high impact businesses that have the potential to grow rapidly. Basically take an idea and turn it into a reality.

    h4 Is it for me?
    p If you have an idea but don’t know how to launch it or you're studying a field but never truly experienced it, then this is the event for you.

    h4 I'm all alone!
    p Don’t worry, if you want to go but don’t know anyone, come anyway. People who want to go have similar interests and we’ll happily sit with you and get to know you over a cup of tea. There is plenty of advise.

    h4 Experience is more important than qualifications.
    p You will learn a lot at our event even if you have a degree. You’ll show others new skills and you will learn new ones. Guide a team, learn to pitch or just get that practical experience that your linkedin is missing.


block sidebar
  
  .widget
    iframe(width="360" height="203" src="https://www.youtube.com/embed/yDc4zjAdp5A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)

          

