extends /layouts/_default

block head
  title Idea Starter's Hackathon


block display_title
  h1 Idea Starter's Hackathon
  h3 Meet people, engage and collaborate on ideas to build a MVP.


block content

  p Join us in our fun filled weekend event to build your startup in just 48 hours. Form or join a team, validate your idea, market research and build a minimal viable product. Demo your prototypes and receive valuable feedback from a panel of experts. Winners announced and new friends made!
  p Our event is centered around action, innovation and education. Get feedback from industry experts, find a co-founder or find team members with specific skill sets.
  p With the help of Idea Starter and the institutions involved, the winning teams will be given the opportunity to bring their concept forward.
  p 
    | Our first event is focused on the 
    strong financial services sector
    |. 
    a(href='about.html' title='About the event') Learn more about FinTech &rarr;

  hr

  h2(style='margin-top:30px;margin-bottom:30px') Event Schedule

  div(role='tabpanel')
    ul.nav.nav-tabs(role='tablist')
      li(role='presentation').active
        a(href='#friday' aria-controls='friday' role='tab' data-toggle='tab') 
          | Friday April 24
          sup th
      li(role='presentation')
        a(href='#saturday' aria-controls='saturday' role='tab' data-toggle='tab')
          | Saturday April 25
          sup th
      li(role='presentation')
        a(href='#sunday' aria-controls='sunday' role='tab' data-toggle='tab')
          | Sunday April 26
          sup th

    .tab-content(style='margin-top:30px')
      #friday.tab-pane.active(role='tabpanel')
        h4 Friday April 24
          sup th
        br
        table.table.table-striped
          tbody
            tr
              th.col-md-1 6:30pm
              td.col-md-3 Registration
              td.col-md-8 Arrive at our venue and get checked in.
            tr
              th 6:45pm
              td Dinner &amp; Networking
              td Eat food and get to know fellow participants.
            tr
              th 7:15pm
              td Welcome &amp; Speakers
              td Review agenda for the weekend and introduction to speakers, advisors and community leaders. Followed by talks by industry experts addressing issues and problems they face in the industry and where innovation is necessary.
            tr
              th 7:45pm
              td 60 Second Idea Pitches
              td Individuals with ideas pitch their ideas under a minute to gather interest from others to join their team.
            tr
              th 8:30pm
              td Voting &amp; Teams Formation
              td Top ideas are voted and teams of maximum 6 members with various skills are formed around the best ideas.
            tr
              th 9:00pm
              td Start Working
              td Discussion of skills in the team and roles of everyone in the team are discussed and planned out for the weekend.
            tr
              th 10:00pm
              td Wrap up
              td Venue closed for the day. Teams can continue to work outside of the venue if they wish.

      #saturday.tab-pane(role='tabpanel')
        h4 Saturday April 25
          sup th
        br
        table.table.table-striped
          tbody
            tr
              th.col-md-1 9:00am
              td.col-md-3 Breakfast
              td.col-md-8 Arrive, simple breakfast and coffee.
            tr
              th 9:30am
              td Start Working
              td Start working on the idea as a team to develop a MVP over the weekend and validate your idea.
            tr
              th 11:00am
              td Workshops
              td Workshops that some team members can attend if they consider it to be useful for their idea.
            tr
              th 12:00pm
              td Lunch
              td 
            tr
              th 1:00pm
              td Check-in
              td Status reports and call for help.
            tr
              th 2:00pm
              td Advisor meetings
              td Industry experts help teams one-on-one to help develop the idea, provide feedback and direct the idea in the right direction.
            tr
              th 6:30pm
              td Dinner
              td 
            tr
              th 7:30pm
              td Check-in
              td Status reports and call for help.
            tr
              th 10:00pm
              td Wrap-up
              td Finished for the day.

      #sunday.tab-pane(role='tabpanel')
        h4 Sunday April 26
          sup th
        br
        table.table.table-striped
          tbody
            tr
              th.col-md-1 9:00am
              td.col-md-3 Breakfast
              td.col-md-8 Arrive, simple breakfast and coffee.
            tr
              th 10:00am
              td Check-in
              td Status report and call for help.
            tr
              th 12:00pm
              td Lunch
              td 
            tr
              th 1:00pm
              td Pitch Coaching
              td Talk on what should be included and how to structure your final pitch.
            tr
              th 3:00pm
              td Practice Pitch &amp; Tech Check
              td Practice pitch session to get final feedback on pitches and checking tech used for presentation.
            tr
              th 4:00pm
              td Dinner
              td 
            tr
              th 5:30pm
              td Final Presentations
              td Each team presents their idea and MVP with a 5 minute pitch followed by a 3 minutes of Q&amp;A by the judges. Presentations are done before a panel of judges, all the teams and visitors.
            tr
              th 7:30pm
              td Judging &amp; Awards
              td Winners announced and awards are distributed. Followed by vote of thanks.
            tr
              th 8:30pm
              td Networking &amp; Wrap-up
              td 
            tr
              th 9:00pm
              td Home Time!
              td 

block sidebar

          

