extends /layouts/_default

block head
  title Idea Starter's Hackathon


block display_title
  h1 Idea Starter's Hackathon
  h3 Meet people, engage and collaborate on ideas to build a MVP.


block content

  h2 About Our Hackathon
  p Join us in our fun filled weekend event to build your startup in just 24 hours. Form or join a team, validate your idea, market research and build a minimal viable product. Demo your prototypes and receive valuable feedback from a panel of experts. Winners announced and new friends made!
  p Our event is centered around action, innovation and education. Get feeback from industry experts, find a co-founder or find team members with specific skill sets.

  p 
    strong Stay tuned for updates on our planned event!


block sidebar

          

