extends /layouts/_homepage

block head
  title Idea Starter - Bringing Future Innovators Together

block content

  // #home-image
  section#home-image
    .container
      .row
        .col-md-10.col-md-offset-1.text-center
          h1 Bringing Innovators Together
          h3(style='margin-bottom:30px')
            | We are bringing passionate innovators together from all backgrounds to 
            br 
            | build the 'next big thing' in the financial sector for our first Idea Starter Weekend.
          div
            i.fa.fa-calendar
            span Friday, April 24 - 26, 2015
          div(style='margin-top:10px')
            i.fa.fa-map-marker
            span The Treehouse, Ormond Building, 31-36 Ormond Quay Upper, Dublin 7
          div(style='margin-top:40px')
            a(href='https://www.eventbrite.ie/e/idea-starter-hackathon-weekend-tickets-16389515482' title='Get tickets on Eventbrite' target='_blank').btn.btn-lg.btn-wesavvy 
              i.fa.fa-ticket
              span Get Tickets
            a(href='hackathon.html', style='margin-left:10px').btn.btn-lg.btn-success 
              i.fa.fa-info-circle
              span Learn More

  section#quick-links
    .container
      .row

        .col-md-8.col-md-offset-2.text-center
          i.fa.fa-ticket
          h4 Get Your Tickets
          p Grab your ticket while they last. Tickets are limited.
           br
           | The cost of your ticket partly covers all the food provided throughout the weekend.
          br
          div(style="width:100%; text-align:left;")
            iframe(src="//eventbrite.ie/tickets-external?eid=16389515482&amp;ref=etckt" frameborder="0" height="580" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true")

    // #signup
  //-
    section#signup.text-center
      .container
        .row
          .col-md-8.col-md-offset-2
            form(action='http://marketing.identitysquare.com/t/i/s/jrwkd/', method='post')
              .row
                .col-md-8.col-md-offset-2
                  .input-group
                    input.form-control(type='text', name='cm-jrwkd-jrwkd', placeholder='Enter Your Email Address...')
                    span.input-group-btn
                      button.btn.btn-wesavvy(type='submit') Join Network
            p 
              | Join our multidisciplinary startup network to inspire, educate and empower individuals, teams and communities. 
              | Share ideas, form teams, get mentorship and launch successful startups.
          

