extends /layouts/_homepage

block head
  title PopCard - Bringing Future Innovators Together

block content

  // #home-image
  section#home-image
    .container
      .row
        .col-md-7.text-center
          h1 PopCard - Payments that Pop!
          h3(style='margin-bottom:30px')
            | PopCard is the revolutionary new way to instantly create digital charge cards on demand. The app gives users total freedom to generate as many PopCards as they want, to be used just like a regular card.
            //- br
            //- br 
            //- | Make a PopCard for yourself, or send to a friend or family member. 
            //- br
            //- br
            //- | Pay online, or onsite with your NFC-enabled device. It's up to you.
          section#signup
            form(action='http://marketing.identitysquare.com/t/i/s/jrwkd/', method='post')
              .row
                .col-md-10.col-md-offset-1
                  .input-group
                    input.form-control(type='text', name='cm-jrwkd-jrwkd', placeholder='Enter Your Email Address...')
                    span.input-group-btn
                      button.btn.btn-wesavvy(type='submit') Join Network
        .col-md-5
          img(src='images/phones-top.png')
        
  
  //- section.app-feature1
  //-   .container
  //-     .row
  //-       .col-md-5
  //-         img(src='images/iphone_6.png')
  //-       .col-md-5.col-md-offset-1.text-center
  //-         h1 Always improving
  //-         p You don't have to be an expert in server hardware to build a website—and you shouldn't have to be an expert in payments to build a business. By using Checkout, you have a team of Stripe engineers and designers continually working to refine your flow and optimize your funnel.
  //- 
  //- section.app-feature1.second
  //-   .container
  //-     .row
  //-       .col-md-5.col-md-offset-1.text-center
  //-         h1 Always improving
  //-         p You don't have to be an expert in server hardware to build a website—and you shouldn't have to be an expert in payments to build a business. By using Checkout, you have a team of Stripe engineers and designers continually working to refine your flow and optimize your funnel.
  //-       .col-md-5
  //-         img(src='https://stripe.com/img/checkout/marketing/2checkouts@2x.png')
                    
