extends /layouts/_fullwidth

block head
  title Idea Starter's Supporters &amp; Startups


block display_title
  h1 Supporters &amp; Startups
  h3 Our incredible supporters and network


block content

  h3.text-center Supporters &amp; Sponsors

  - var supporters = {'mu.png':'Maynooth University', 'eden.png':'EDEN', 'minds.png':'MINDS soc', 'amazon.png':'Amazon', 'isqre.png':'Identity Square', 'coderdojo.png':'CoderDojo'};

  ul.logos.text-center
    each name, logo in supporters
      li
        img(src="images/logos/" + logo alt=name)

  hr

  h3.text-center Startups

  - var startups = {'studynotes.png':'StudyNotes.ie', 'grindsadvisor.png':'Grinds Advisor', 'kompass.png':'Kompass', 'owlise.png':'Owlise'};

  ul.logos.text-center
    each name, logo in startups
      li
        img(src="images/logos/" + logo alt=name)


  hr

  h3.text-center Honors &amp; awards won by our members

  - var awards = {'imaginecup.png':'Microsoft Imagine Cup', 'startupweekend.png':'Startup Weekend', 'hackmakebank.png':'Hack Make The Bank', 'challengecup.png':'The Challenge Cup', 'studentent.png':'Student Entrepreneur Awards'};

  ul.logos.text-center
    each name, logo in awards
      li
        img(src="images/logos/" + logo alt=name)
