extends /layouts/_default

block head
  title Idea Starter's Mentors, Supporters &amp; Startups


block display_title
  h1 Our Mentors, Supporters &amp; Startups


block content

  h2 About Our Hackathon
  p Join us in our fun filled weekend event to build your startup in just 24 hours. Form or join a team, validate your idea, market research and build a minimal viable product. Demo your prototypes and receive valuable feedback from a panel of experts. Winners announced and new friends made!
  p Stay tuned for updates on our planned event!


block sidebar
  
  .widget
    iframe(width="360" height="203" src="https://www.youtube.com/embed/yDc4zjAdp5A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)

          

