doctype html
html(lang="en")
  head

    block head
      title Idea Starter

    include ../partials/_head

  body.default
    
    // START header
    include ../partials/_header
    // END header

    section#title
        .container
            block display_title
                h1 Idea Starter


    section.main
        .container
            .row
                .col-md-12#main-content
                    block content
                    

    // START footer
    include ../partials/_footer
    // END footer

    include ../partials/_scripts