doctype html
html(lang="en")
  head

    block head
      title Idea Starter

    include ../partials/_head

  body#home
    
    // START header
    include ../partials/_header
    // END header


    block content


    // START footer
    include ../partials/_footer
    // END footer

    include ../partials/_scripts